<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_item.description %>
</p>

<p>
  <strong>Done:</strong>
  <%= @todo_item.done %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', root_path %>
